
{% paginate collections by 30 %}

{% if collections.size > 0 %}

<div class="desktop-12 tablet-6 mobile-3" id="four-per-row">
  <div id="product-loop">  
    
    <div id="product-loop">
      {% for collection in collections %}
      {% if collection.products_count >= 1 %}
      <div class="product-index" data-alpha="{{ collection.title }}">  
        <div class="collection-image">
          <a href="{{ collection.url }}" title="{{ collection_title }}">
            {% if collection.image %}
            {{ collection.image.src | collection_img_url: 'grande' | img_tag: collection_title }}
            {% else %}
            {{ collection.products.first.featured_image | product_img_url: 'grande' | img_tag: collection_title }}
            {% endif %}
          </a>     
        </div>
        
        <div class="product-info">
          <div class="product-info-inner">
            <a href="{{ collection.url }}" title="Browse our {{ collection_title }} collection">
              <h3>{{ collection.title }}<br />{{ collection.products_count }} items</h3>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    
  </div>
</div>

{% else %}
<p>No Collections found...</p>
{% endif %}

<div id="pagination">
  
  <span class="count">Showing items {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}.</span>
  
  {% if paginate.previous %}
  {{ '<' | link_to: paginate.previous.url }}
  {% endif %}
  {% for part in paginate.parts %}
  {% if part.is_link %}
  {{ part.title | link_to: part.url }}
  {% else %}
  {% if part.title == '&hellip;' %}
  {{ part.title }}
  {% else %}
  <span class="current">{{ part.title }}</span>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% if paginate.next %}
  {{ '>' | link_to: paginate.next.url }}
  {% endif %}
</div>

{% endpaginate %}



<script>
  // Four Column Collection Masonry
  $(window).load(function () {
    var columns = 4,
        setColumns = function () {
          columns = $(window).width() > 980 ? 4 : $(window).width() > 740 ? 3 : $(window).width() > 500 ? 2 : 1;
        };
    
    setColumns();
    $(window).resize(setColumns);
    
    $('#product-loop').masonry({
      itemSelector: '.product-index',
      columnWidth: function (containerWidth) {
        return containerWidth / columns;
      },
      isAnimated: true,
      animationOptions: {
        duration: 150,
        easing: 'linear',
        queue: false
      }
    });
  });
</script>
