{% form 'contact' %}
{% if form.posted_successfully? %}
<div class="successForm feedback">
  <p>Thanks for contacting us! We'll get back to you as soon as possible.</p>
</div>
{% endif %}

{% if form.errors %}
<div class="errorForm feedback">
  <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
  <p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and submit again:</p>
  {% for field in form.errors %}
    <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
  {% endfor %}
</div>
{% endif %}
 
<div id="contactFormWrapper">
  <div class="desktop-4 mobile-3">
  <p>
    <label>Your Name:</label>
    <input type="text" id="contactFormName" name="contact[name]" placeholder="Name" />
  </p>
  </div>
  <div class="desktop-4 mobile-3">
  <p>
    <label>Email:</label>
    <input type="email" id="contactFormEmail" name="contact[email]" placeholder="Email" />
  </p>
  </div>
  <div class="desktop-4 mobile-3">
  <p>
    <label>Phone Number:</label>
    <input type="text" id="contactFormTelephone" name="contact[phone]" placeholder="Contact Number" />
  </p> 
  </div>
  <div class="desktop-12 mobile-3">
  <p>
    <label>Message:</label>
    <textarea rows="15" cols="90" id="contactFormMessage" name="contact[body]" placeholder="Your Message"></textarea>
  </p>
  <p>
    <input type="submit" id="contactFormSubmit" class="secondary button" value="SEND" />
  </p> 
  </div>
</div><!-- contactWrapper -->
{% endform %}      

<div class="clear"></div>
      
{% if settings.show-map %}
<div id="gmap">
<div class="Flexible-container">
  {{ settings.map }}
</div>
</div>
{% endif %}
