<div id="page" class="desktop-12 tablet-6 mobile-3">
  <h1>{% if current_tags %}{{ blog.title | link_to: blog.url }} &raquo; {{ current_tags.first }}{% else %}{{ blog.title }}{% endif %}</h1>
  {% paginate blog.articles by 50 %}
  
  <div class="clear"></div>
  
  <div class="desktop-12 tablet-6 mobile-3">
    <div id="article-loop">
      
      {% for article in blog.articles  %}
      
      <div class="article-index ie4col{% cycle ' iefirst', '', ' ielast' %}" id="article-{{ article.id }}" data-alpha="{{ article.title }}">   
        
        <div class="article-info"> 
          
          <div class="article-info-inner">
            <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
            <p class="posted">Posted {{ article.published_at | date: "%d %B %Y" }}</p>
            
            {% if article.comments_count > 0 %}
            <p class="posted">{{ article.comments_count }} Comments</p>
            {% endif %} 
            
            <div class="article-content">
              {% if article.excerpt == blank %}
              {{ article.content | strip_html | truncatewords: 30 }}
              {% else %}
              {{ article.excerpt }}
              {% endif %}
            </div>
            
            {% if article.tags.size > 0 %}
            <p class="post-tags">Tagged:
              {% for tag in article.tags %} 
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                {{ tag }}
              </a>
              {% endfor %}
            </p>
            {% endif %}
            
            <div class="readmore">
              <a href="{{ article.url }}">Read More</a>
            </div>
            {% include 'social' with article %}           
            
            
          </div>
          
        </div>
        
      </div>
      
      {% endfor %} 
      
    </div>
  </div>
  
  
  
  
  <div id="pagination">
    
    <span class="count">Showing items {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}.</span>
    
    {% if paginate.previous %}
    {{ '<' | link_to: paginate.previous.url }}
    {% endif %}
    {% for part in paginate.parts %}
    {% if part.is_link %}
    {{ part.title | link_to: part.url }}
    {% else %}
    {% if part.title == '&hellip;' %}
    {{ part.title }}
    {% else %}
    <span class="current">{{ part.title }}</span>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if paginate.next %}
    {{ '>' | link_to: paginate.next.url }}
    {% endif %}
    
  </div>
  
  {% endpaginate %}
  
  
</div>

<!--[if gte IE 9]><!-->
<script>
  // Three Column Collection Masonry
  $(window).load(function () {
    var columns = 3,
        setColumns = function () {
          columns = $(window).width() > 740 ? 3 : $(window).width() > 500 ? 2 : 1;
        };
    
    setColumns();
    $(window).resize(setColumns);
   
var $container = $('#page');
// initialize Masonry after all images have loaded  
$container.imagesLoaded( function() {          
    
    $('#article-loop').masonry({
      itemSelector: '.article-index',
      columnWidth: function (containerWidth) {
        return containerWidth / columns;
      },
      isAnimated: true,
      animationOptions: {
        duration: 150,
        easing: 'linear',
        queue: false
      }
    });
  
});  
  
  });
</script>

<!--<![endif]-->







