<div id="page" class="desktop-12 tablet-6 mobile-3">
  <h1 class="blog-title">{% if current_tags %}{{ blog.title | link_to: blog.url }} &raquo; {{ current_tags.first }}{% else %}{{ blog.title }}{% endif %}</h1>
  {% paginate blog.articles by 50 %}
  
  <ul id="blog-articles" class="desktop-9 tablet-6 mobile-3">
    {% for article in blog.articles  %}
    <li class="single-article">
      
      <div class="article-body desktop-12">
        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
        <p class="posted">Posted {{ article.published_at | date: "%d %B %Y" }}</p>
        
        {% if article.comments_count > 0 %}
        <p class="posted">{{ article.comments_count }} Comments</p>
        {% endif %} 
        
        <div class="article-content">
          {% if article.excerpt == blank %}
          {{ article.content | strip_html | truncatewords: 30 }}
          {% else %}
          {{ article.excerpt }}
          {% endif %}
        </div>        
        
        {% if article.tags.size > 0 %}
        <p class="post-tags">Tagged:
          {% for tag in article.tags %} 
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
            {{ tag }}
          </a>
          {% endfor %}
        </p>
        {% endif %}        
        
        <div class="readmore">
          <a href="{{ article.url }}">Read More</a>
        </div>
        {% include 'social' with article %}
      </div>
    </li>
    {% endfor %}
  </ul> 
  
  <div id="blog-sidebar" class="desktop-3 tablet-6 mobile-3">
    <h2>Stay Connected <a target="_blank" href="{{ shop.url }}/blogs/{{ blog.handle }}.atom"><i class="icon-rss icon-2x"></i></a></h2>
    
    <ul id="social-icons">
      {% if settings.show_facebook %}<li><a href="{{ settings.facebook_url }}" target="_blank"><i class="icon-facebook icon-2x"></i></a></li>{% endif %}
      {% if settings.show_twitter %}<li><a href="http://www.twitter.com/{{ settings.twittername }}" target="_blank"><i class="icon-twitter icon-2x"></i></a></li>{% endif %}
      {% if settings.show_pinterest %}<li><a href="{{ settings.pinterest_url }}" target="_blank"><i class="icon-pinterest icon-2x"></i></a></li>{% endif %}
      {% if settings.show_tumblr %}<li><a href="{{ settings.tumblr_url }}" target="_blank"><i class="icon-tumblr icon-2x"></i></a></li>{% endif %}
      {% if settings.show_youtube %}<li><a href="{{ settings.youtube_url }}" target="_blank"><i class="icon-youtube icon-2x"></i></a></li>{% endif %}
      {% if settings.show_googleplus %}<li><a href="{{ settings.googleplus_url }}" target="_blank"><i class="icon-google-plus icon-2x"></i></a></li>{% endif %}
      {% if settings.show_instagram %}<li><a href="http://instagram.com/{{ settings.instagram-id }}" target="_blank"><i class="icon-instagram icon-2x"></i></a></li>{% endif %}
      {% if settings.mailchimp %}<li><a id="inline" href="#subscribe_popup" class="open_popup"><i class="icon-envelope icon-2x"></i></a></li>{% endif %}
    </ul>


    {% if settings.show-blog-instagram-feed %}    
    {% assign url = '{{image}}' %}
    {% assign caption = '{{caption}}' %}
    <div id="instagram-card">
      <h3><a href="http://instagram.com/{{ settings.instagram-id }}" target="_blank">@{{ settings.instagram-id }}</a> on Instagram</h3>
      <div id="instafeed"></div>
      <script type="text/javascript">
        var userFeed = new Instafeed({
          get: 'user',
          userId: {{ settings.instagram-user-id }},
          accessToken: '{{ settings.instagram-access-token }}',
          template: '<a class="fancybox desktop-3 mobile-half" href="{{url}}" rel="ig"><img class="instagram-image" src="{{ url }}" /></a>'
        });
        userFeed.run();        
      </script>
    </div>
    {% endif %}

    {% if settings.show-twitter-feed %}    
    <div id="twitter-card">
      <h3><a href="http://www.twitter.com/{{ settings.twittername }}" target="_blank">@{{ settings.twittername }}</a> on Twitter</h3>
      <a class="twitter-timeline" href="https://twitter.com/{{ settings.twittername }}" data-widget-id="{{ settings.twitter-widget }}" data-chrome="noborders noheader transparent" data-tweet-limit="3">Recent Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>     
    </div>  
    {% endif %}
    
    {% if settings.show-facebook-like %}        
    <div id="facebook-card">
      <h3>Like us on Facebook</h3>
      <div class="fb-like-box" data-href="{{ settings.facebook_url }}" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div> 
    </div>
    {% endif %}
    
  </div>
  
  <div class="clear"></div>
  
  
  <div id="pagination">
    
    {% if paginate.previous %}
    {{ '<' | link_to: paginate.previous.url }}
    {% endif %}
    {% for part in paginate.parts %}
    {% if part.is_link %}
    {{ part.title | link_to: part.url }}
    {% else %}
    {% if part.title == '&hellip;' %}
    {{ part.title }}
    {% else %}
    <span class="current">{{ part.title }}</span>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if paginate.next %}
    {{ '>' | link_to: paginate.next.url }}
    {% endif %}
  </div>
  
  {% endpaginate %}
  
</div>



